.git
.github
node_modules
.svelte-kit
build
data
**/*.sqlite
**/*.sqlite-*
**/*.db
**/*.db-*
.env
.env.*
!.env.example
**/.npmrc
test-results
playwright-report
Dockerfile
.dockerignore
.deno-deploy
.vitest
coverage
*.log
.vscode
docs
tests
README.md
lefthook.yml
commitlint.config.js
