.DS_Store
node_modules
../build
../.svelte-kit
../package
.env
.env.*
!.env.example
LICENSE
*.md
.prettierignore
.eslintignore
.DS_Store
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.sqlite
Dockerfile
.node-version
justfile
.gitignore

# Ignore images
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore devbox
devbox.json
devbox.lock