/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss";

/* Includes Box-Sizing Reset (Universal with inheritance) */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
