/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box-Sizing Reset (Universal with inheritance) */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
